{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            <div class="card">
                <div class="card-header">
                    {{ post.user }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.body }}</p>
                </div>
                <div class="card-footer">
                    {{ post.created|date }}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}