{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
{% for post in posts %}
    <div class="col-4">
        <div class="card">
            <a href="{% url 'account:dashboard' post.user.id %}">
                <div class="card-header">{{ post.user }}</div>
            </a>
            <a href="{{ post.get_absolute_url }}">
                <div class="card-body">
                    <p class="card-text">{{ post.body }}</p>
                </div>
            </a>
            <div class="card-footer">{{ post.created|date }}</div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
