{% extends 'base.html' %}

{% block title %}Detail{% endblock %}
{% block content %}
    {% if request.user.is_authenticated and request.user.id == post.user.id %}
        <a href="{% url 'posts:post_delete' post.user.id post.id %}" class="btn btn-danger mb-3">Delete Post</a>
        <a href="{% url 'posts:post_edit' post.user.id post.id %}" class="btn btn-warning mb-3">Edit Post</a>
    {% endif %}
    <div class="card">
        <div class="card-header">
            {{ post.user }}-{{ post.created|date }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body }}</p>
        </div>
    </div>
    {% with total=comments.count %}
        <p class="mt-3 mb-1">This post has {{ total }} comment{{ total|pluralize }}</p>
    {% endwith %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'posts:post_like' post.id %}" class="btn btn-outline-info {% if can_like %}disabled{% endif %}">Like <span>{{ post.like_count }}</span></a>
        <!--تعداد لایک هارو از طرق مدل متد به دست اوردیم و نمایش دادیم-->
        {% endif %}

    {% if request.user.is_authenticated %}
        <form action="" method="post" class="my-3" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary d-block w-50 mx-auto my-3" type="submit">send</button>
        </form>
    {% else %}
        <p>You must be login to send comment</p>
    {% endif %}

    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ comment.user }}</h5>
            <p class="card-text">{{ comment.body }}</p>

            {% if request.user.is_authenticated %}
                <div class="p-3">
                    <form action="{% url 'posts:add_reply' post.id comment.id %}" method="post">
                        {% csrf_token %}
                        {{ reply.as_p }}
                        <button class="btn btn-primary d-block w-50 mx-auto my-3" type="submit">send</button>
                    </form>
                </div>
            {% else %}
                <p>you must login to send reply</p>
            {% endif %}

            {% for reply in comment.rcomment.all %}
                <div class="pl-4 py-3">
                    <small>{{ reply.user }}</small>
                    <p>{{ reply.body }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% empty %}
    <div class="card">
        <div class="card-body">
            there is no comment
        </div>
    </div>
    {% endfor %}
{% endblock %}