{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="{{ form.username.id_for_lable }}">username</label>
        {{ form.username }}
        {{ form.username.errors }}
        <br>
        <label for="{{ form.email.id_for_lable }}">email</label>
        {{ form.email }}
        {{ form.email.errors }}
        <br>
        <label for="{{ form.password.id_for_lable }}">password</label>
        {{ form.password }}
        {{ form.password.errors }}
        <br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}